.wrapper {
  display: flex;
  height: 100vh;
}

.loader {
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto;
  border: 10px solid #4481c3;
  border-right-color: #FF9000;
  animation: l2 1s infinite linear;
}
@keyframes l2 {to{transform: rotate(1turn)}}
